@media screen and (max-width: 1000px) {
    body {
        margin-right: 5%;
        margin-left: 5%;
        overflow-x: hidden;
    }

    h1 {
        font-size: 24pt;
    }

    .preface>.overview {
        margin-bottom: 24pt;
    }

    code {
        font-size: 12pt;
    }

    code>span {
        font-size: 10pt;
        white-space: break-spaces;
    }

    #breadcrumbs {
        display: none;
    }

    p {
        text-indent: 0;
    }

    .preface {
        display: contents
    }

    .footnotes {
        margin-top: 4rem;
    }

    .footnote-ref {
        font-size: smaller;
    }

    footer {
        margin-top: 4rem;
    }
}