body {
    margin-right: 25%;
    margin-left: 25%;
    font-size: 16pt;
}

.list-of-posts {
    list-style: none;
    padding: 0px;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.list-of-posts > li:not(:last-child) {
    margin-bottom: 5%;
}

.unlisted {
    opacity: 33%;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
    transition-duration: 0.4s;
}

.unlisted:hover {
    opacity: 67%;
}

#breadcrumbs {
    font-family: monospace;
    list-style: none;
    padding: 0px;
}

#breadcrumbs > li {
    display: inline;
}

#breadcrumbs > li > a {
    color: var(--body-color);
    text-decoration: none;
}

#breadcrumbs > li > a:hover {
    color: blue;
    text-decoration: underline;
}

sup::before {
    content: '['
}

sup::after {
    content: ']'
}

table {
    margin: 4% 0 4% 0;
}

table tr td:last-child {
    width: 100%
}

table tr th {
    white-space: nowrap;
}

.abstract {
    margin: 12pt 24pt 12pt 24pt;
}

footer {
    margin-top: 5%;
    opacity: 50%;
}

h1, h2, h3, h4, h5, h6 {
    white-space: nowrap;
}

h1 {
    text-align: center;
}

p {
    text-indent: 2rem;
}

code {
    white-space: nowrap;
}

pre > code {
    white-space: inherit;
}

pre > code {
    counter-reset: loc;
}

code > span::before {
    color: gray;
    counter-increment: loc;
    text-align: right;
    display: block;
    width: 3rem;
    content: counter(loc) " ";
}

#TableOfContents > ul::before {
    content: 'Table Of Contents';
    font-weight: bold;
}

#TableOfContents > ul > li::before {
    padding-left: 20px;
}