@import url(https://latex.now.sh/style.css);

html {
    font-size: 1.25rem;
}

footer {
    padding-top: 15%;
    font-size: 16px;
}

.overlay {
    z-index: 100;
    position: fixed;
    width: 100%;
    left: 0px;
    height: 30vh;
    transform: translate(0, 70vh);
    pointer-events: none;
    background: linear-gradient(0deg, var(--body-bg-color) 0%, rgba(255,255,255,0) 100%);
}

.list-of-posts {
    list-style: none;
    padding: 0px;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.list-of-posts > li:not(:last-child) {
    margin-bottom: 5%;
}

.unlisted {
    opacity: 33%;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
    transition-duration: 0.4s;
}

.unlisted:hover {
    opacity:  67%;
}

a.article-title {
    font-size: 125%;
    color: var(--body-color);
}

#breadcrumbs {
    list-style: none;
    padding: 0px;
}

#breadcrumbs > li {
    display: inline;
    padding-left: 5px;
}

#breadcrumbs > li > a {
    color: var(--body-color);
}
