@import url(https://latex.now.sh/style.css);

html {
    font-size: 1.25rem;
}

footer {
    z-index: 101;
    opacity: 0.2;
    margin-top: 5%;
    margin-bottom: 10%;
    transition: 0.1s;
}

footer:hover {
    z-index: 101;
    transition: 0.2s;
    opacity: 1;
}

.overlay {
    z-index: 100;
    position: fixed;
    width: 100%;
    left: 0px;
    height: 30vh;
    transform: translate(0, 70vh);
    pointer-events: none;
    background: linear-gradient(0deg, var(--body-bg-color) 0%, rgba(255,255,255,0) 100%);
}

.list-of-posts {
    list-style: none;
}

.list-of-posts > li {
    padding-bottom: 30px;
}

a.article-title {
    color: var(--body-color);
}

#breadcrumbs > li {
    display: inline;
    padding-left: 5px;
}

#breadcrumbs > li > a {
    color: var(--body-color);
}
