<title>{{.Title}}</title>
<link rel="stylesheet" href="{{.Site.BaseURL}}css/style.css"type="text/css">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{if .Description}}{{.Description | truncate 60 }}{{else if .Summary}}{{.Summary | truncate 60 }}{{else}}{{.Content | truncate 60}}{{end}}" />
<meta property="og:type" content="website">
<meta property="og:url" content="{{.Permalink}}">
<meta property="og:title" content="{{.Title}}" />
<meta property="og:image" content="{{.Site.BaseURL}}img/pfp.png"/>
<link rel="shortcut icon" href="{{.Site.BaseURL}}favicon.ico">
<meta property="og:description" content="{{if .Description}}{{.Description | truncate 60 }}{{else if .Summary}}{{.Summary | truncate 60 }}{{else}}{{.Content | truncate 60}}{{end}}" />
